.head{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    font-family: 'Poppins';
}

.head h1 {
    font-size: 56px;
    margin-bottom: 24px;
}

.head p {
    max-width: 689px;
    /* max-height: 99px; */
    font-size: 24px;
    margin-bottom: 24px;
}

.head button {
    color: white;
    background-color: black;
    border-radius: 36px;
    border: none;
    cursor: pointer;
    width: 182px;
    height: 66px;
}

.head button a {
    color: white;
    text-decoration: none;
    font-size: 24px;
}

.head button:hover{
    background-color: brown;
}

.hero{
    display: flex;
    margin-top: 110px;
    flex-direction: column;
    align-items: center;
}

.hero .main-picture {
    width: 90%;
    margin-bottom: 20px;
    border-radius: 20px;
    /* max-height: 500px; */
}

.hero .sub-pictures {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.hero .sub-pictures img {
    width: 30%;
    border-radius: 20px;
}