* {
    box-sizing: border-box;
}

body {
    background-color: #F2F2F2;
}

.head{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    font-family: 'Poppins';
}

.head h1 {
    font-size: 56px;
    margin-bottom: 24px;
}

.head p {
    max-width: 689px;
    opacity: 80%;
    /* max-height: 99px; */
    font-size: 24px;
    color: #252525;
    margin-bottom: 24px;
}

.head button {
    color: white;
    background-color: black;
    border-radius: 36px;
    border: none;
    cursor: pointer;
    width: 182px;
    height: 66px;
}

.head button a {
    color: white;
    text-decoration: none;
    font-size: 24px;
}

.head button:hover{
    background-color: brown;
}

nav {
    position: fixed; 
    display: flex;
    top: 400px; 
    left: 50%;
    width: 1048px;
    height: 191px;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.9); 
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    z-index: 1000; 
    border-radius: 48px;
    padding-top: 40px;
    padding-left: 64px;
    padding-right: 64px;
    gap: 70px;
}

nav div {
    display: inline-block;
    margin: 0 10px;
    width: 176px;
    text-align: center;
}

nav h1 {
    font-size: 1.2em;
    margin: 0;
    font-size: 24px;
    text-align: left;
}

nav hr {
    margin: 5px 0;
    width: 66px;
    height: 4px;
    margin-top: 12px;
    margin-bottom: 12px;
    background-color: #252525;
}

nav p {
    margin: 0; 
    font-size: 18px;
    text-align: left;
    color: #252525;
    opacity: 70%;
    width: 176;
}

.hero{
    display: flex;
    margin-top: 110px;
    flex-direction: column;
    align-items: center;
}

.hero .main-picture {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 20px;
    /* max-height: 500px; */
}

.hero .sub-pictures {
    display: flex;
    justify-content: center;
    gap: 40px;
    
}

.hero .sub-pictures img {
    width: 31.5%;
    border-radius: 32px;
}

@media (max-width: 768px) {
    .head h1 {
        font-size: 36px;
    }

    .head p {
        font-size: 18px;
    }

    .head button {
        width: 150px;
        height: 50px;
        font-size: 20px;
    }

    .burger-menu {
        display: block;
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: black;
        padding: 10px;
        border-radius: 50%;
        z-index: 1100;
        cursor: pointer;
    }

    .burger-menu div {
        width: 25px;
        height: 3px;
        background-color: white;
        margin: 5px 0;
    }

    nav {
        display: none;
        width: 90%;
    }

    nav div {
        display: flex;
        flex-direction: column;
        margin: 0 10px;
        width: 5%;
        text-align: center;
    }

    nav p {
        margin: 0; 
        font-size: 12px;
        text-align: left;
        color: #252525;
        opacity: 70%;
        width: 176;
    }


    nav.active {
        display: flex;
    }

    .hero{
        display: flex;
        margin-top: 110px;
        flex-direction: column;
        align-items: center;
    }
    
    .hero .main-picture {
        width: 100%;
        margin-bottom: 20px;
        border-radius: 20px;
        /* max-height: 500px; */
    }
    
    .hero .sub-pictures {
        display: flex;
        justify-content: center;
        gap: 40px;
        
    }
    
    .hero .sub-pictures img {
        width: 29.5%;
        border-radius: 32px;
    }
    
}

@media (max-width: 480px) {
    .head h1 {
        font-size: 28px;
    }

    .head p {
        font-size: 16px;
    }

    .hero .sub-pictures {
        flex-direction: row;
        gap: 20px;
    }

    .hero .sub-pictures img {
        max-width: 100%;
    }
}